.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
  padding: 15px;
}
table tr {
  text-align: center;
}
/* Table */
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #eeeeee;
}

.add {
  margin-top: 20px;
}
/* forms */
label {
  font-weight: 600;
  display: block;
  margin: 1rem 0 0.5rem;
}
input[type="text"] {
  display: block;
  border: 1px solid #dedede;
  border-radius: 4px;
  padding: 0.75rem;
  margin-bottom: 0.5rem;
  width: 100%;
}
button:hover {
  border: 1px solid #0250bc;
  background: #0250bc;
  color: #ffffff;
}
button {
  border: 1px solid #0366ee;
  border-radius: 4px;
  background: #0366ee;
  color: #ffffff;
  font-weight: 600;
  padding: 0.75rem 1.25rem;
  cursor: pointer;
  margin-bottom: 0 !important;
  margin-right: .5rem;
}
.muted-button, a.muted-button {
  background: #ffffff;
  border: 1px solid #cdcdcd;
  color: #4e4e4e;
}