body {
  color: #404E67;
  background: #F5F7FA;
  font-family: 'Open Sans', sans-serif;
}
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
  padding: 15px;
}
/* Table */
.table-wrapper {
  display:block;
  width: 700px;
  margin: 30px auto;
  background: #fff;
  padding: 20px;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
table tr {
  text-align: center;
}
table {
  background: #ffffff;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 700px;
  overflow-x: auto;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
th {
  border-bottom: 2px solid #dddddd;
}
table th:last-child {
  width: 200px;
}
table td {
  vertical-align: center;
  text-align: center;
}

.add {
  margin-top: 50px;
}
/* forms */
label {
  font-weight: 600;
  display: block;
  margin: 1rem 0 0.5rem;
}
input[type="text"] {
  display: block;
  border: 1px solid #dedede;
  border-radius: 4px;
  padding: 0.75rem;
  margin-bottom: 0.5rem;
}
button:hover {
  border: 1px solid #0250bc;
  background: #0250bc;
  color: #ffffff;
}
button {
  border: 1px solid #0366ee;
  border-radius: 4px;
  background: #0366ee;
  color: #ffffff;
  font-weight: 600;
  padding: 0.75rem 1.25rem;
  cursor: pointer;
  margin-right: .5rem;
}
form button {
  margin-top: .5rem;
}
.muted-button, a.muted-button {
  background: #ffffff;
  border: 1px solid #cdcdcd;
  color: #4e4e4e;
}
/* title */
.flex-wrapper {
  display: flex;
  flex-flow: row;
  align-items: center;
}
.flex-wrapper h1, div {
  width: 100%;
}
.flex-wrapper div {
  text-align: right;
}

.icon-github {
  width: 30px;
  height:30px;
}
